<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/foot.css">
</head>
<body>
    <section id="foot">
        <div>${myname}</div>
    </section>
    <script type="text/javascript" src="../js/require-jquery.js"></script>
    <script type="text/javascript" src="../js/jquery.tmpl.js"></script>
    <script type="text/javascript">
        $.get("../data/foot.json",
            function (response) {
                $("#foot").html($.tmpl($("#foot").html(), response.data));
            }
        );
    </script>
</body>
</html>
