<h2><i{{if sourceId == 2}} class="t"{{/if}}></i>${name}</h2>
                <ul class="category-list">
                    {{each children}}
                    <li>
                        <dl>
                            <dt><h3><i class="{{if sourceId == 1}}i{{else}}t{{/if}}${$index}"></i>${name}</h3></dt>
                            <dd>
                                {{each children}}
                                <a href="course.html?nodeId=${id}{{if sourceId == 1}}&sourceId=1{{else}}&sourceId=2{{/if}}"{{if curId && curId == id}} class="cur"{{/if}}>${name}</a>
                                {{/each}}
                            </dd>
                        </dl>
                    </li>
                    {{/each}}
                </ul>