{{if type == "player"}}
	<textarea class="input-textarea"></textarea>
	<div class="">
		<div class="rating" id="rating">
			<img src="images/stars.png">
		</div>
		<div class="buttons">
			<a href="#" class="obtn bmin">评论</a>
			<a href="#" class="gbtn bmin">取消</a>
		</div>
	</div>
{{else}}
	<div class="input">
		<textarea class="input-textarea"></textarea>
	</div>	
	<div class="function-area">
		<span>给该课程打分:</span>
		<div class="rating" id="rating"><img src="images/stars.png"></div>
		<a href="#" class="gbtn bbig">发布</a>
	</div>
{{/if}}