

<ul>
	{{each result}}
	
    <li class="comment-cell">
        <div class="">                
            <div class="avatar fl comment-avatar">                   
                <img src="http://family.baidu.com:8083/images/userimages/zhangwei11.jpg" width="40" height="40" alt="">
            </div>
            <div class="comment-info">
                <div class="username">${$value.user.realName} <span class="comment-date">(${$value.date})</span>  </div>
                <div class="rating star-level-${$value.like}">
                    <img src="images/stars.png">
                </div>
            </div>
        </div>
        <div class="comment-text">${$value.content}</div>
        <div class="reply">
            <div class="reply-btn-area"><span class="reply-btn">回复(<span class="reply-count">${$value.replyCount}</span>)</span></div>
           
        </div>
    </li>
   
    {{/each}}
</ul>
