<div class="switch-view">
    <a href="${$item.linkUrl(01)}" class="v-grid{{if viewType == 1}}-cur{{/if}}"><span>网格</span></a> <a href="${$item.linkUrl(02)}" class="v-list{{if viewType == 2}}-cur{{/if}}"><span>列表</span></a>
</div>
<div class="filter-type"><span>排序方式：</span><a href="${$item.linkUrl(10)}" class="f-time{{if orderBy == 1}}-cur{{/if}}"><i></i>更新时间</a> <a href="${$item.linkUrl(20)}" class="f-pv{{if orderBy == 2}}-cur{{/if}}"><i></i>浏览量</a> <!-- <a href="${$item.linkUrl(30)}" class="f-cmt{{if orderBy == 3}}-cur{{/if}}"><i></i>评论量</a> --></div>