<div class="personType">成员<span id="MemberCount">(${totalCount})</span></div>
<ul class="clearfix">
	{{if admin}}
		{{each result}}
	    <li class="mps">
	        <a href="profileCourse.html?userId=${userId}" class="avatar"><img src="${$item.defaultImage(\'family\', userName)}" onerror="this.src=\'${$item.defaultImage(\'avatar\')}\';" data-id="${userId}" width="48" height="48"/></a>
	        <h5 title="${userName}" data-id="${userId}">${userName}</h5>
	        <div class="mact"> 
		        <a class="mout" href="javascrip:void(0);" data-groupId="${groupId}" data-userId="${userId}">踢</a>
	        </div>
	    </li>
	    {{/each}}
    {{else}}
    	{{each result}}
	    <li class="mps">
	        <a href="profileCourse.html?userId=${userId}" class="avatar"><img src="${$item.defaultImage(\'family\', userName)}" onerror="this.src=\'${$item.defaultImage(\'avatar\')}\';" data-id="${userId}" width="48" height="48"/></a>
	        <h5 title="${userName}" data-id="${userId}">${userName}</h5>	        
	    </li>
	    {{/each}}
    {{/if}}
</ul>