<div class="fl w720">
            <div class="clearfix">
                <div class="group-intro">
                    <img src="{{if image}}${image}{{else}}${$item.defaultImage(\'group\')}{{/if}}" alt="" class="pic" onerror="this.src=\'${$item.defaultImage(\'group\')}\';"/>
                    <div class="txt">
                        <h2>${name}</h2>
                        {{if member}}<p><span class="gbtn bmin group-quit">退出小组</span></p>{{else}}<p><a href="#" class="gbtn bmin group-join">加入小组</a></p>{{/if}}
                    </div>
                </div>
                <ul class="group-tab">
                    <li{{if !flag}} class="cur"{{/if}}><a href="groupInfo.html?groupId=${id}">全部</a></li>
                    <li{{if flag == 1}} class="cur"{{/if}}><a href="groupCourse.html?groupId=${id}">课程</a></li>
                    <li{{if flag == 2}} class="cur"{{/if}}><a href="groupTopic.html?groupId=${id}">话题</a></li>
                    <!-- <li{{if flag == 3}} class="cur"{{/if}}><a href="groupDoc.html?groupId=${id}">资料</a></li> -->
                    <li{{if flag == 3}} class="cur"{{/if}}><a href="groupMember.html?groupId=${id}">成员</a></li>
                    {{if username == creatorName}}
                    <li{{if flag == 4}} class="cur"{{/if}}><a href="groupCreate.html?groupId=${id}">管理</a></li>
                    {{/if}}
                </ul>
            </div>
            <div class="brief">${$item.substr(desc)}{{if $item.ifOverflow(desc)}}<a href="#" class="view-more-description">查看更多&gt;&gt;</a>{{/if}}</div>
        </div>
        
        <div class="fr w230">
            <ul class="group-status">
                <li>
                    <strong class="group-member-count">${members}</strong>组员
                </li>
                <li>
                    <strong>${noticeCount}</strong>发言
                </li>
                <li>
                    <strong class="group-course-count">0</strong>课程
                </li>
            </ul>
            <div class="group-creator">
                <div class="pic">
                    <img src="${$item.defaultImage(\'family\', creatorName)}" onerror="this.src=\'${$item.defaultImage(\'avatar\')}\';" width="48" height="48" alt="" />
                </div>
                <div class="txt">
                    <h5>组长：<em>{{if creatorName}}${creatorName}{{else}}未知{{/if}}</em></h5>
                    <p><a href="#" class="snsbtn bmin bmplus" style="display:none;">关注</a></p>
                </div>
            </div>
        </div>