<section class="w header">
            <!--#S logo -->
            <h1 class="logo">
                <a href="./"><img src="images/logo.png" width="198" height="61" title="" /></a>
            </h1><!--#E logo -->
            
            <!--#S nav -->
            <nav id="nav">
                <ul>
                    <li><a href="index.html">首 页</a></li>
                    <li>
                        <a href="course.html">课程中心</a>
                        <div class="dropdown">
                            <a href="course.html?sourceId=1">分类导航</a>
                            <a href="course.html?sourceId=2">课程体系</a>
                        </div>
                    </li>
                    <li><a href="live.html">直播课堂</a></li>
                    <li class="last"><a href="group.html">小组</a></li>
                </ul>
            </nav><!--#E nav -->
            
            <!--#S search -->
            <form class="search" action="search.html">
                <input type="text" name="q" id="kw" class="kw" value="" maxlength="40" placeholder="搜索你感兴趣的课程" />
                <button type="submit" class="sbtn"><span>搜索</span></button>
            </form><!--#E search -->
        </section>