<header class="hd">
    <h2>学习达人</h2>
</header>
<div class="bd">
    <ul class="learnerstar-list">
        {{each data}}
        <li class="dr">
            <div class="pic">
                <a href="profileCourse.html?userId=${userId}" data-id="${userId}"><img src="${$item.defaultImage(\'family\',username)}" width="48" height="48" onerror="this.src=\'${$item.defaultImage(\'avatar\')}\';"/></a>
            </div>
            <div class="txt">
                <h5><span data-id="${userId}">${realName}</span></h5>
            </div>
        </li>
        {{/each}}
    </ul>
</div>