<div class="ll"> 
    <div class="live-list-b-bg"> 
        <ul class="live-list-con">

                {{each result}}
                <li class="{{if $value.status == 1 && $value.template == "liveTimeLine"}}ing{{/if}}">
                    {{if $value.template == "liveTimeLine"}}
                        <div class="ll-status {{if $value.status == 1}}playing{{/if}}">${statusName}</div>
                    {{/if}}
                    <div class="cif">
                        <div class="cif-l"> 
                            <div class="time"> 
                                {{if $value.beginTime}}
                                    <span class="t-b">${$item.substr(beginTime, 8, 2)}</span>
                                    <span class="t-s">${$item.substr(beginTime, 5, 2)}月${$item.istoday(beginTime, 8, 2)}</span>
                                    <p class="t-dt">${$item.substr(beginTime, 11, 5)}-${$item.substr(endTime, 11, 5)}</p>
                                {{else}}
                                    <p class="course-time-unknown">该课程时间未确定</p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="cif-r">
                            
                            {{if $value.template == "personalCenterCalendarList"}}
                                {{if ($value.backupState == 1) && !(($value.backupState == null) ||($value.backupState == 2) || ($value.approvalState == 2)) }}
                                     <div class="selectable-status"><i></i>候补中</div>
                                {{else $value.selectEndTime}}
                                    {{if $item.compareTime(currentTime, selectEndTime) }}
                                        <a class="gbtn bbig bcl" href="#">请 假</a>
                                    {{else}}
                                        <a class="bbtn bbig bcl mb5" href="#">退 课</a>   
                                    {{/if}}
                                {{else}}
                                    <a class="bbtn bbig bcl mb5" href="#">退 课</a>
                                {{/if}}
                            {{else $value.template == "personalCenterSelectableList"}}
                                {{if $value.approvalState < 1 && $value.limitCount != 0 && $value.limitCount <= $value.applyCount && $value.backupLimit <= $value.backupCount}}
                                    <div class="selectable-status"><i></i>已报满</div>
                                {{else $value.approvalState == 0}}
                                    <a class="gbtn bbig bcl" href="#">报 名</a>
                                {{else $value.approvalState == 1}}
                                    <div class="selectable-status"><i></i>申请中</div>
                                {{else $value.approvalState == -1}}
                                    <div class="selectable-status"><i></i>未通过</div>
                                {{else $value.approvalState == 2}}
                                    <div class="selectable-status"><i></i>已通过</div>
                                {{else $value.approvalState == -2}}
                                    <div class="selectable-status"><i></i>已退课</div>
                                {{else $value.approvalState == -3}}
                                    <div class="selectable-status"><i></i>已请假</div>
                                {{/if}}
                            {{else $value.template == "personalCenterCompletedLessonList"}}
                                {{if $value.statusparticipate == -1}}
                                    <div class="lesson-not-completed"><i></i>未考勤</div>
                                {{else $value.statusparticipate == 1}}
                                    <div class="lesson-completed"><i></i>出  勤</div>
                                {{else $value.statusparticipate == 2}}
                                    <div class="lesson-not-completed"><i></i>缺  勤</div>
                                {{else $value.statusparticipate == 3}}
                                    <div class="lesson-completed"><i></i>已请假</div>
                                {{else $value.statusparticipate == 4}}
                                    <div class="lesson-not-completed"><i></i>迟  到</div>
                                {{else $value.statusparticipate == 5}}
                                    <div class="lesson-not-completed"><i></i>早  退</div>
                                {{/if}}
                            {{else $value.template == "liveTimeLine"}}
                                {{if $value.status == 1}}
                                    <a class="bbtn bbig bcl" href="livePlay.html?courseId=${$value.id}" target="_blank">进入教室</a>
                                {{/if}}
                            {{else $value.template == "personalCenterIndexList"}}
                                <a class="gbtn bbig bcl" href="#">报 名</a>
                            {{/if}}
                        </div>
                        <div class="cif-c"> 
                            <span class="c-i"> 
                                
                                {{if $value.template == "personalCenterSelectableList" || $value.template == "personalCenterCalendarList" || $value.template == "personalCenterCompletedLessonList"}}
                                    <h5>
                                    <span class="personalCenterAuthor">${$value.author}</span>
                                    <a href="externalFrameCMS.html?cId=${id}" target="_blank">${$value.name}</a>
                                   
                                    </h5>
                                    <p class="c-p">来自:${$value.preCourse}</p>
                                {{else}}
                                     <h5>
                                    {{if $value.pcAuthor != ""}}
                                        <span class="personalCenterAuthor">${$value.pcAuthor}</span>
                                    {{/if}}
                                    <a href="liveInfo.html?courseId=${id}">${$value.name}</a>
                                   
                                    </h5>
                                    <p class="c-p">发布者：${$value.creator.realName}</p>
                                {{/if}}
                            </span>
                        </div>
                    </div>
                </li>
                {{/each}}
        </ul>
    </div>
</div>