<div class="brief">
                    <div class="cover">
                        <img src="{{if coverPath}}platform${coverPath}{{else}}images/placeholder.png{{/if}}" width="220" height="140" alt="${name}" title="${name}" />
                    </div>
                    <div class="info">
                        <h4 id="liveTitle">${name}</h4>
                        <p>直播时间：<strong id="liveStartTime">${beginTime}</strong> - <strong id="liveStartTime">${endTime}</strong></p>
                        {{if contactPersonMail}}<p>联系人：${contactPersonMail}</p>{{/if}}
                        {{if address}}<p>直播地址：${address}</p>{{/if}}
                        <p><span>课程状态：${statusName}</span>   {{if passName}}审核状态：${passName}{{/if}}</p>
                        <p>教室容量：<span class="capacity">${maxUser}</span> 人</p>
                        {{if status != 1 && creatorId == curUser}}
                        <p>
                            <a href="createLive.html?courseId=${id}&liveType=${liveType}" class="edit">编辑</a>
                            <a href="#" class="delete">删除</a>
                        </p>
                        {{/if}}
                    </div>
                </div>
                <div class="detail">
                    <h5>课程简介：</h5>
                    <div class="detailText">${$item.decode(description)}</div>
                </div>