<header class="hd">
                    <div class="pl"><a href="live.html" class="more"><span>更多</span></a></div>
                    <h2>直播课堂</h2>
                </header>
                <div class="bd">
                    <ul class="liveline-list">
                        <li class="first"></li>
                        {{each result}}
                        <li{{if status == 1}} class="ing"{{/if}}>
                            <a href="{{if status == 1}}livePlay.html{{else}}liveInfo.html{{/if}}?courseId=${id}"{{if $index+1 == pageSize}} class="nobrd"{{/if}}>
                                <div class="time"><span>${$item.toMon(beginTime)}</span><br />${$item.toHour(beginTime)}</div>
                                <p>${name}</p>
                            </a>
                        </li>
                        {{/each}}
                        <li class="last"></li>
                    </ul>
                </div>