<header class="hd">
                    <div class="pl"><a href="course.html" class="more"><span>更多</span></a></div>
                    <h2>学员原创课程</h2>
                </header>
                <div class="bd">
                    <div class="ori-arrow-left"></div>
                    <div class="ori-arrow-right"></div>
                    <div class="ori-c-wp">
                        <ul class="ori-c-list">
                            {{each result}}
                            {{if $index == 0 || $index == 6 || $index == 12}}<li>{{/if}}
                                <div class="c1">
                                    <a href="courseInfo.html?courseId=${id}">
                                        <img src="{{if coverPath}}platform${coverPath}{{else}}${$item.defaultImage(\'courseBig\')}{{/if}}" onerror="this.src=\'${$item.defaultImage(\'courseBig\')}\';" width="220" height="140" alt="">
                                        <span class="sd"></span>
                                        <h5 title="${name}">${$item.substr(name, 30)}</h5>
                                    </a>
                                </div>
                            {{if $index != 0 && $index == 5}}</li>{{/if}}
                            {{if $index != 0 && $index == 11}}</li>{{/if}}
                            {{if $index == result.length}}</li>{{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>