<ul>
    {{each result}}
    <li class="block {{if ($index+1)%4 == 3}}block-last{{/if}}">

        <div class="block-header">

        </div>

        <div class="block-body">
            <a href="" class="block-left">
                <img src="{{if headImg}}${headImg}{{else}}${$item.defaultImage(\'avatar\')}{{/if}}" width="48" height="48" onerror="this.src=\'${$item.defaultImage(\'avatar\')}\';">
            </a>
            <div class="block-right">
                <h2>${loginName}</h2>
                {{if template == "idols"}}
                    <a href="#" class="actionCancel">取消关注</a>
                {{else template == "fans"}}
                    {{if !mutual}}
                        <a href="#" class="actionAdd">添加关注</a>
                    {{else}}
                        <span class="alreadyMutual">已相互关注</span>
                    {{/if}}
                {{else template == "mutual"}}
                    <a href="#" class="actionCancel">取消关注</a>
                {{/if}}
            </div>
            
        </div>

        <div class="block-footer">

        </div>
        
    </li>
    {{/each}}
 </ul>