<header>
    <h2>在学的课程</h2>
</header>
<ul class="mt10">
    {{each page.result}}
    <li style="height:136px;overflow:hidden;">
        <a href="courseInfo.html?courseId=${$value.id}">
            <img src="{{if coverPath}}${coverPath}{{else}}${$item.defaultImage(\'course\')}{{/if}}" width="172" height="110" alt="" onerror="this.src=\'${$item.defaultImage(\'course\')}\';">
           
            
        </a>
         <div class="process-bar">
                <div class="per" style="width:{{if studyProgress}}${studyProgress}{{else}}0{{/if}}%;"></div>
                <span class="val">{{if studyProgress}}${studyProgress}%{{else}}0%{{/if}}</span>
            </div>
        <span class="courseTitle">
            ${$value.name}
        </span>
    </li>
    {{/each}}
</ul>
<div class="add-new">
    <a href="course.html">
        <img src="images/add-new-course.png">
    </a>
</div>