{{if template == "playTitle"}}
<div class="opt-area">
    <a class="rtbtn hide-rtbtn" title="隐藏课程目录"></a>
    <a class="gbtn bbig" href="courseInfo.html?courseId=${id}">返回课程</a>
</div>
<div class="title">
    <h3 title="${name}"><span><strong>{{if template == "playTitle"}}${lesson}：{{else}}直播：{{/if}}</strong>${$item.substr(name, 70)}</span></h3>
</div>
{{else template == "livePlayTitle"}}
    <div class="live-play-top">
        <div class="block-center-980">
            <a href="index.html" class="logo"> <img src="images/logo.png"> </a>
            <div class="title">
                <h3><span><a href="live.html">直播：</a>${name}</span></h3>
            </div>
        </div>
    </div>
{{else template == "externalCMSTitle"}}
    <div class="live-play-top">
        <div class="block-center-980">
            <a href="index.html" class="logo"> <img src="images/logo.png"> </a>
            <div class="title">
                <h3><span><a href="personalCenterSelectable.html">可选课表</a>${name}</span></h3>
            </div>
        </div>
    </div>
{{/if}}
