<div class="publisher-bd">
    <textarea class="publisher-textarea" id="publisherTextarea">${value}</textarea>
</div>
<div class="publisher-ft">
    <div class="publisher-insert"><!-- <a href="#">表情</a> <a href="#">图片</a> --> {{if classNum==0}}<a href="#" id="insertTopic"><i class="t-icon"></i>话题</a>{{/if}}</div>
    <span class="publisher-tip"><span>还可以输</span><span class="char-constantia">140</span>字</span>
    <div class="publisher-btn">
        <a class="obtn" href="#" id="submitBtn">发 布</a>
    </div>
</div>
<!-- <div class="publisher-refresh">您有新消息，请点击更新</div> -->