<header class="hd">
                    <h2>最近加入的学员</h2>
                </header>
                <div class="bd">
                    {{if result && result.length > 0}}
                    <ul>
                        {{each result}}
                        <li class="s {{if ($index+1)%3 == 0}}nomr{{/if}}">
                            <a href="profileCourse.html?userId=${userId}" class="pic" data-id="${userId}"><img src="${$item.defaultImage(\'family\', loginName)}" onerror="this.src=\'${$item.defaultImage(\'avatar\')}\';" width="48" height="48" alt=""></a>
                            <a href="profileCourse.html?userId=${userId}" data-id="${userId}">${realName}</a>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </div>