{{if flag}}
<header class="hd">
                    <div class="pl"><a href="course.html" class="more"><span>更多</span></a></div>
                    <h2>推荐课程</h2>
                    <ul class="rc-tab">
                        <li class="rc-hot-cur">热门</li>
                        <li class="rc-lastest">最新</li>
                    </ul>
                </header>
                <div class="bd">
                    <ul class="recomcourse-list">
{{/if}}
                        {{each result}}
                        <li class="c{{if $index != 0 &&  ($index+1)%3 == 0}} nomr{{/if}}">
                            <div class="c-pic">
                                <a href="courseInfo.html?courseId=${id}"><img src="{{if coverPath}}platform${coverPath}{{else}}${$item.defaultImage(\'courseBig\')}{{/if}}" onerror="this.src=\'${$item.defaultImage(\'courseBig\')}\';" width="220" height="140" alt=""></a>
                            </div>
                            {{if categoryNode && categoryNode.length > 0}}<div class="c-cate"><a href="course.html?nodeId=${categoryNode[0].id}"><span>${categoryNode[0].name}</span></a></div>{{/if}}
                            <h5 class="c-title"><!-- <a href="courseInfo.html?courseId=${id}" class="to-apply">去报名</a> --><a href="courseInfo.html?courseId=${id}" title="${name}">${$item.substr(name, 20)}</a></h5>
                            <div class="c-stat"><span class="s-play" title="播放"><i></i>${viewCount}</span> <span title="课时数" class="s-lesson"><i></i>${elementCount}</span> <!-- <span class="s-comment"><i></i>${commentCount}</span> --></div>
                        </li>
                        {{/each}}
{{if flag}}
                        </ul>
                </div>
{{/if}}