<div class="clearfix w">
            <div class="fl user-name">
                <div class="avatar">
                    <img src="${$item.defaultImage(\'family\', username)}" width="15" height="15" onerror="this.src=\'${$item.defaultImage(\'avatar\')}\';"/>
                </div>
                {{if realName}}${realName}{{else}}${username}{{/if}} 您好!
            </div>
            <ul class="fr user-bar">
                <li><a href="personalCenter.html">个人中心</a></li>
                <li><a href="personalCenterLearning.html">在学课程</a></li>
                <li><a href="personalCenterCalendar.html">选课日历</a></li>
                <li class="last"><a href="./">退出</a></li>
            </ul>
        </div>