<div class="user-intro">
                    <a href="personalCenter.html" class="pic">
                        <img src="${$item.defaultImage(\'family\', username)}" width="76" height="76" onerror="this.src=\'${$item.defaultImage(\'avatar\')}\';"/>
                        <span class="sd"></span>
                        <span>个人中心</span>
                    </a>
                    <div class="txt">
                        <div class="name">Hi,{{if realName}}${realName}{{else}}${username}{{/if}}!...</div>
                        <p><a href="createCourseStep.html" class="gbtn bbig bbplus">创建课程</a></p>
                    </div>
                </div>