/**
 * top.css
 * 通用 顶部
 */



#top{height:24px;padding:6px 0 0;color:#ddd;}
#top a{color:#ddd;}
#top .avatar{float:left;width:15px;height:15px;margin-right:14px;border:1px solid #636363;_margin-right:7px;}
#top .user-bar li{float:left;margin-right:28px;}
#top .user-bar li.last{margin-right:0;}

#top {background-color: #404040;}