/**
 * comment.css
 * 课程中心-课程详情 评论
 */



.input{background-image:url('../images/input.png');width:686px;display:block;height:90px}
.input .input-textarea{margin:6px 18px 0;/*padding:5px;*/
border-style:none;border-width:0;font-size:14px;font-family:tahoma,宋体;word-wrap:break-word;line-height:18px;overflow-y:auto;overflow-x:hidden;outline:none;resize:none;width:666px;height:80px}
.function-area{padding-left:421px;margin-top:5px}
.function-area span{float:left;margin-top: 8px;}
.comment-input span{color:#666}
.comment-input .gbtn{letter-spacing:5px;padding:0 15px 0 20px}
.comment-input .rating{margin:5px 10px;display:inline-block;width:90px;overflow:hidden;float: left;}
.rating img{margin-left:-90px}
.player-comment{width:462px}
.player-comment textarea{margin:10px 10px 2px;padding:5px;border:1px solid #17a78f;font-size:14px;font-family:tahoma,宋体;word-wrap:break-word;line-height:18px;overflow-y:auto;overflow-x:hidden;outline:none;resize:none;width:430px;height:90px}
.player-comment .rating{margin-left:10px}
.player-comment .buttons{float:right}
.player-comment .bmin{letter-spacing:5px;padding:0 12px 0 17px;margin-right:10px}