.createLiveTabs{margin:10px 0 20px 40px;padding-bottom:15px;border-bottom:1px dashed #999;}
.createLiveTabs h5{float:left;padding:0 6px 0 10px;color:#3c84de;display:inline-block;font:bold 16px '微软雅黑';line-height:20px;}
.createLiveTabs span{display:inline-block;width:145px;height:24px;}
.createLiveTabs ul{display:inline-block;border-radius:4px;border:1px solid #e6e6e6;*zoom:1;*display:inline;}
.createLiveTabs li{float:left;width:72px;color:#fff;font-size:13px;line-height:24px;background-color:#8ab4fa;text-align:center;cursor:pointer;}
.createLiveTabs li.cur{background-color:#f8f8f8;color:#ff7a56;}

#createLiveDescribe h3{color:#999;font-size:13px;font-weight:bold;line-height:24px;}
#createLiveDescribe p{color:#999;line-height:16px;}

.createLiveDetail li{vertical-align:top;list-style:none;}
.createLiveDetail .g-box span{display:block;}
.createLiveDetail .g-header{display:inline-block;_display:inline;zoom:1;width:130px;font-size:16px;font-weight:bold;font-family:"microsoft yahei","微软雅黑";color:#3c84de;text-align:right;vertical-align:top;}
.createLiveDetail .g-row{margin-bottom:19px;}
.createLiveDetail .g-row .required{color:#c00;padding-right:8px;}
.createLiveDetail .g-row .coverSmall{vertical-align:top;}
.createLiveDetail .g-row input, .createLiveDetail .g-row textarea, .createLiveDetail .g-row select{border:#ececec 1px solid;padding:0 10px;height:28px;line-height:28px;color:#999;}
.createLiveDetail .g-row input{width:344px;}
.createLiveDetail .g-row .w80{width:80px;}
.createLiveDetail .g-row select{width:344px;height:28px;overflow:hidden;padding:0 0 0 10px;}
.createLiveDetail .g-row textarea{display:inline-block;_display:inline;zoom:1;width:479px;height:299px;resize:none;}
.createLiveDetail .g-row img{margin-right:10px;}
.createLiveDetail .g-row p{text-indent:4px;color:#666;margin:6px 0 6px 136px;}
.createLiveDetail .g-row .error{color:red;}
.createLiveDetail .g-row p.dim{color:#999;}
.createLiveDetail .g-row a{display:inline-block;_display:inline;width:42px;padding:9px 22px 10px 21px;margin-right:20px;font-size:16px;vertical-align:top;}
.createLiveDetail .g-row a:hover{text-decoration:none;}
.createLiveDetail .g-row a.confirm{background-color:#e74013;margin-left:137px;color:#fff;}
.createLiveDetail .g-row .cancel{width:80px;height:38px;line-height:38px;color:#888;}
.createLiveDetail .g-row .upload{background-color:#75b0fa;color:#fff;width:81px;text-align:center;}
.createLiveDetail .g-row .date{width:146px;height:24px;background:url(../images/date-icon.png) no-repeat 146px center;}
.createLiveDetail .g-row .middle{vertical-align:text-bottom;}
.createLiveDetail .g-row .changeIcon{padding-bottom:5px;border-bottom:1px dashed #999;width:500px;}
.createLiveDetail .g-row .radioList{display:inline-block;}
.createLiveDetail .g-row .radioList input{width:17px;height:17px;margin-right:8px;vertical-align:middle;border:none;}
.createLiveDetail .g-row .radioList p{vertical-align:middle;line-height:17px;margin:0;margin-bottom:18px;}
.createLiveDetail .g-row .radioList label{vertical-align:middle;}
.createLiveDetail span.invite{padding-left:30px;vertical-align:middle;color:#3c84de;}
.createLiveDetail .g-row input.invite{width:67px;height:24px;border:#ececec 1px solid;}