/**
 * faceTrain.css
 * 课程中心-课程详情 面授培训 
 */



#faceTrain{padding-top:7px;background:url(../images/course-center-line-point.png) no-repeat center 0;}
#faceTrain .cc-ft-b{padding-bottom:7px;background:url(../images/course-center-line-point.png) no-repeat center bottom;}
#faceTrain .yes-ing{background-image:url(../images/course-center-line-playing.png)}
#faceTrain .no-ing{background-image:url(../images/course-center-line-willplay.png)}
#faceTrain .fr{float:right;background-position:0 23px;background-repeat:no-repeat;padding-left:44px;}
#faceTrain .fl{float:left;background-position:right 23px;background-repeat:no-repeat;padding-right:44px;}
#faceTrain ul{background:url(../images/course-center-line.png) repeat-y center 0;overflow:hidden;zoom:1;}
#faceTrain .cff{width:315px;}
#faceTrain .cff-r a{margin-top:40px;}
#faceTrain .gbtn{width:55px;height:25px;line-height:25px;font-family:"宋体";text-align:center;}