#fans, #attention {
    margin: 0 0 30px;
}
#fans .bd, #attention .bd  {
    padding: 20px 10px 0;
}
#fans .tc, #attention .tc {
    margin: 0 0 20px;
    overflow: hidden;
}
#fans .tc h5, #attention .tc h5 {
    color: #E74013;
    height: 15px;
    margin:17px 0 10px;
}
