/**
 * filterCourse.css
 * 课程中心-排序方式
 */


.filter-course{padding:15px 0 5px;border-bottom:3px solid #ea0f0f;}

.filter-course .switch-view{float:right;width:40px;}
.filter-course .switch-view a{float:left;display:block;width:14px;height:14px;background:url(../images/icons.png) no-repeat;}
.filter-course .switch-view .v-grid{margin-right:6px;background-position:-92px -69px;}
.filter-course .switch-view .v-list{background-position:-120px -69px;}
.filter-course .switch-view .v-grid-cur{margin-right:6px;background-position:-92px -88px;}
.filter-course .switch-view .v-list-cur{background-position:-120px -88px;}
.filter-course .switch-view span{display:none;}


.filter-course .filter-type a{display:inline-block;margin-left:10px;}
.filter-course .filter-type i{position:relative;top:3px;display:inline-block;width:16px;height:13px;margin-right:4px;z-index:-1;*zoom:1;background:url(../images/icons.png) no-repeat;}
.filter-course .filter-type .f-time i{background-position:0 -69px;}
.filter-course .filter-type .f-pv i{background-position:-24px -69px;}
.filter-course .filter-type .f-cmt i{background-position:-50px -69px;}
.filter-course .filter-type .f-time-cur i{background-position:0 -88px;}
.filter-course .filter-type .f-pv-cur i{background-position:-24px -88px;}
.filter-course .filter-type .f-cmt-cur i{background-position:-50px -88px;}
.filter-course .filter-type .f-time-cur,
.filter-course .filter-type .f-pv-cur,
.filter-course .filter-type .f-cmt-cur{color:#e8290f;}

.tag-filter{height:18px;margin-top:-44px;}
.tag-filter .switch-view{margin:2px 0 0;}
.tag-filter .filter-type{float:right;margin-right:30px;}
.tag-filter .filter-type span{display:none;}
