#groupMemberPerson .personType{font:18px/30px '微软雅黑';color:#333;margin-bottom:10px;}
#groupMemberPerson .personType span{color:#ea5730;font:14px/20px 'Arial';}
#groupMemberPerson ul{margin:10px;}

#groupMemberPerson .mout{margin-left:17px;}
#groupMemberPerson h5{overflow:hidden;}