/**
 * groupAll.css
 * 小组页 所有小组
 */



#groupAll h2{padding:10px 0 14px;font:24px/24px "微软雅黑";}
#groupAll .ga-list{overflow:hidden;*zoom:1;}
#groupAll .ga-list li{float:left;width:172px;margin-right:3px;}
#groupAll .ga-list a span{display:none;}
#groupAll .ga-list a{display:block;height:64px;background:url(../images/group-all.png) no-repeat;}
#groupAll .ga-list .l0{background-position:0 0;}
#groupAll .ga-list .l0:hover{background-position:0 -66px;}
#groupAll .ga-list .l1{background-position:-176px 0;}
#groupAll .ga-list .l1:hover{background-position:-176px -66px;}
#groupAll .ga-list .l2{background-position:-349px 0;}
#groupAll .ga-list .l2:hover{background-position:-349px -66px;}
#groupAll .ga-list .l3{background-position:-522px 0;}
#groupAll .ga-list .l3:hover{background-position:-522px -66px;}
