/**
 * groupList.css
 * 小组页 小组列表
 */



#groupList{margin:0 0 50px;}
#groupList h2{margin:24px 0 0;font:18px/18px "微软雅黑";}
#groupList h2 i{position:relative;top:4px;*top:0;display:inline-block;width:32px;height:28px;margin-right:10px;background:url(../images/icons.png) no-repeat;*zoom:1;*display:inline;}
#groupList h2 .g0{background-position:0 -263px;}
#groupList h2 .g1{background-position:-41px -263px;}
#groupList h2 .g2{background-position:-81px -263px;}

#groupList .list{overflow:hidden;*zoom:1;}
#groupList .list li{float:left;width:310px;padding:20px 24px 20px 16px;border-bottom:1px dashed #999;}
#groupList .list h5{position:relative;top:-1px;*top:-2px;}
#groupList .gl-more{position:relative;height:2px;line-height:2px;margin-top:-1px;text-align:center;border-top:1px solid #ede8e7;background:#f7f7f7;}
#groupList .gl-more a{display:inline-block;width:100px;height:8px;background:url(../images/icons.png) no-repeat -92px -109px;*zoom:1;*display:inline;}
#groupList .gl-more a:hover{background-position: -92px -117px;}
#groupList .gl-more span{display:none;}