.groupCreateDetail li{vertical-align:top;list-style:none;}
.groupCreateDetail .g-box{width:204px;height:75px;margin-right:27px;padding:12px 14px;border:#ececec 1px solid;font-size:12px;color:#999;vertical-align:top;-moz-box-shadow:4px 4px 0 1px #eee;-webkit-box-shadow:4px 4px 0 1px #eee;box-shadow:4px 4px 0 1px #eee;}
.groupCreateDetail #groupTypePublic,.groupCreateDetail #groupTypePrivate{margin-right:7px;width:13px;height:13px;vertical-align:middle;border:none;padding:0;}
.groupCreateDetail .g-box span{display:block;}
.groupCreateDetail .g-box label{font-weight:bold;line-height:20px;height:20px;vertical-align:middle;}
.groupCreateDetail .g-box p{margin-left:20px;line-height:20px;}
.groupCreateDetail .g-box p span{color:#e74013;}
.groupCreateDetail .g-header{width:120px;font-size:16px;font-weight:bold;font-family:"microsoft yahei","微软雅黑";color:#e74013;text-align:right;margin-right:10px;vertical-align:top;}
.groupCreateDetail .g-row{margin-bottom:19px;}
.groupCreateDetail .g-row textarea{border:#ececec 1px solid;padding:8px 10px;color:#999;}
.groupCreateDetail .g-row input{width:344px;height:28px;line-height:28px;border:#ececec 1px solid;padding:0 5px;color:#999;}
.groupCreateDetail .g-row select{width:344px;line-height:18px;overflow:hidden;border:#ececec 1px solid;color:#999;padding:5px 0 5px 5px;}
.groupCreateDetail .g-row textarea{margin:-19px 0 0 135px;width:497px;height:144px;display:block;resize:none;}
.groupCreateDetail .g-row a{display:inline-block;_display:inline;zoom:1;width:42px;padding:9px 22px 10px 21px;margin-right:20px;font-size:16px;vertical-align:top;}
.groupCreateDetail .g-row a:hover{text-decoration:none;}
.groupCreateDetail .g-row a.confirm{background-color:#e74013;margin-left:136px;color:#fff;}
.groupCreateDetail .g-row .cancel{width:80px;height:38px;line-height:38px;color:#888;text-decoration:underline;}
.groupCreateDetail .g-row .upload{background-color:#75b0fa;color:#fff;width:81px;text-align:center;}
.groupCreateDetail .inner-block{display: inline-block;}
.groupCreateDetail .dim,
.groupCreateDetail .upload{text-indent:4px;color:#666;margin:6px 0 6px 136px;}
.groupCreateDetail .error{padding:8px 0 0 136px;}
