/**
 * indexNews.css
 * 首页 度学堂咨询模块
 */



#indexNews{padding:10px 0;border-top:1px solid #5695e3;border-bottom:1px solid #206bc8;background:#4088e2;}
#indexNews h2{padding:0 14px 4px;color:#fff;font:18px "微软雅黑";}
#indexNews .bd{width:220px;margin:0 auto;background:url(../images/index-news-bg.png) repeat-y;}
#indexNews .ucc-top,
#indexNews .ucc-btm{height:10px;background:url(../images/index-news-brd.png) no-repeat;}
#indexNews .ucc-btm{background-position:0 bottom;}
#indexNews .ucc-list{height:40px;padding:0 15px;overflow:hidden;}
#indexNews .ucc-list li{line-height:20px;}
#indexNews .ucc-list span{float:right;color:#888;}
#indexNews .ucc-more{display:block;margin:0 15px;height:11px;text-align:center;}
#indexNews .ucc-more span{display:inline-block;width:25px;height:10px;background:url(../images/icons.png) no-repeat -103px -315px;}
#indexNews .ucc-more i{display:none;}