/**
 * layout.css
 * 页面样式
 */



.fl{float:left;}
.fr{float:right;}

.w{width:960px;margin:0 auto;}
.w186{width:186px;}
.w230{width:230px;}
.w318{width:318px;}
.w720{width:720px;}
.w760{width:760px;}
.w750{width:750px;}

.h35{height:35px;}
.h100p{height:100%;}

.p20{padding:20px;}
.pr6{padding-right:6px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
.mr318{margin-right:318px;}
.mlr-auto{margin-left:auto;margin-right:auto;}

.hide{display:none;}

/* clearfix */
.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;visibility:hidden;height:0;clear:both;}