/**
 * liveCourseInfo.css
 * 直播课程详情页 课程介绍
 */



#liveCourseInfo{padding:0 0 80px}
#liveCourseInfo .brief{overflow:hidden;*zoom:1;padding-bottom:24px;border-bottom:1px #b1b1b1 dashed;}
#liveCourseInfo .brief .cover{float:left;width:220px;height:140px;}
#liveCourseInfo .info{margin:0 0 0 235px;padding-top:4px;}
#liveCourseInfo .info h4{margin:0 0 10px;font:16px/16px "microsoft yahei","微软雅黑";}
#liveCourseInfo .info p{line-height:22px;margin-bottom:4px;}
#liveCourseInfo .capacity{color:#e74013;}
#liveCourseInfo .edit,
#liveCourseInfo .delete{display:inline-block;_display:inline;zoom:1;height:29px;vertical-align:middle;line-height:29px;text-decoration:none;padding-left:33px;color:#b1b1b1;}
#liveCourseInfo .edit{background:url('../images/coursePopedit.png') no-repeat;}
#liveCourseInfo .delete{background:url('../images/coursePopdelete.png') no-repeat;}
#liveCourseInfo .detail{margin-top:10px;padding:3px;}
#liveCourseInfo .detail h5{font:16px/36px "microsoft yahei","微软雅黑";color:#3c84de;}
#liveCourseInfo .detail p{line-height:22px;}