/**
 * personalCenterLearning.css
 * personalCenterLearning.html 个人中心在学的课程
 */



/* =在学的课程 顶部信息
-------------------------------------------------------------- */



#personalCenterLearningLearningInfo h2{font-family:"微软雅黑";font-size:16px;height:30px;line-height:30px;padding-left:16px}
#personalCenterLearningLearningInfo{background:#ebf3fc}
#personalCenterLearningLearningInfo .learning-info-header{background:url(../images/learning-bg.png);background-position:0 -18px;width:750px;height:8px}
#personalCenterLearningLearningInfo .learning-info-footer{background:url(../images/learning-bg.png);background-position:0 0;width:750px;height:8px}
#personalCenterLearningLearningInfo .learning-info-description{padding-left:16px;color:#666;padding-top:10px}
#personalCenterLearningLearningInfo .learning-info-description span{color:#999}
#personalCenterLearningLearningInfo .process-bar{background:#d5e2f2;margin-left:16px;margin-right:16px;height:30px;line-height:30px;font:bold 16px/30px arail;color:#2a78da;margin-top:8px;margin-bottom:12px}
#personalCenterLearningLearningInfo .per{background:url(../images/learning-info-arrow.png) no-repeat right 0 #e74013;height:30px;float:left;width:100%;margin-right:20px}