/**
 * personalCenter.css
 * personalCenter.html 个人中心入口样式文件
 */



/* =个人中心
-------------------------------------------------------------- */



/*个人中心左侧导航 */
@import 'personalCenterNav.css';

/* 分页 */
@import 'pagination.css';

#personalCenterFriendList .block{float: left;margin-right: 10px;margin-bottom: 20px;}
#personalCenterFriendList .block-last{margin-right: 0px;}
#personalCenterFriendList .block-header{background: url(../images/friend-block-header-bg.png) no-repeat;width: 176px;height: 4px}
#personalCenterFriendList .block-body{padding: 4px 10px 10px;background: url(../images/friend-block-body-bg.png) repeat-y;width: 162px;}
#personalCenterFriendList .block-footer{background: url(../images/friend-block-footer-bg.png) no-repeat;width: 176px;height: 7px}

#personalCenterFriendList .block-left{float: left;margin-right: 10px;cursor: default;}
#personalCenterFriendList .block-right{height: 52px;overflow: hidden;}
#personalCenterFriendList .block-right a{padding-top: 20px;display: block;color: #2a78da;}

#personalCenterFriendList p{padding-top: 3px;color: #999999;padding-right: 20px;}

#personalCenterFriendList .alreadyMutual{padding-top: 20px;display: block;}







