/**
 * personalCenter.css
 * personalCenter.html 个人中心入口样式文件
 */



/* =个人中心
-------------------------------------------------------------- */



/*个人中心左侧导航 */
@import 'personalCenterNav.css';


/*我在学的选课 */
@import 'personalCenterIndexLearning.css';


#personalCenterSelectableList h2{background:url(../images/header-dotted.png) repeat-x 0 bottom;width:200px;line-height:40px}
#personalCenterSelectableList header{height:40px;font-family:"微软雅黑";font-size:16px;color:#888}
#personalCenterSelectableList li{padding-left:68px}
#personalCenterSelectableList .live-list-con{background-position:32px 0}
#personalCenterSelectableList .live-list-con li{background-position:18px 25px}
#personalCenterSelectableList .live-list-b-bg{background-position:29px bottom}
#personalCenterSelectableList h5{width:400px;height:30px}
#personalCenterSelectableList .personalCenterAuthor{font-size:14px;color:#999;float:right}
#personalCenterSelectableList .gbtn{padding-left:24px;padding-right:24px}
#personalCenterSelectableList .cif-r{padding-right:15px}
#personalCenterSelectableList .selectable-status{padding-top: 23px;height: 100%;text-align: center;font-size: 18px;}