/**
	*personalCenterIndexLearning.css
	*个人中心 在学的课程
*/
#personalCenterInfo .sd {position:absolute;bottom:0;display:block;width:100%;height:24px;filter:alpha(opacity=30);opacity:0.3;background:#000}
#personalCenterInfo a {position:relative}
#personalCenterInfo .process-bar {width: 172px;background:#e5e5e5;overflow:hidden;*zoom:1;position:absolute;bottom:26px;display:block;height:20px}
#personalCenterInfo .per {height:20px;background:url(../images/process-arrow-small.png) no-repeat #19c5bf right 0}
#personalCenterInfo .val {float:left;width:100%;height:20px;margin-top:-27px;font:bold 18px/30px arail;color:#2a78da;text-align:center}
#personalCenterInfo .courseTitle {font-family:"微软雅黑";font-size:12px;color:#666;display:inline-block;max-width:172px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
#personalCenterInfo li {float:left;margin-right:22px;position: relative;}
#personalCenterInfo .last {margin-right:0}
#personalCenterInfo .add-new {display:inline-block;height:136px;}
#personalCenterInfo header {height:40px;font-family:"微软雅黑";font-size:16px;color:#888}
#personalCenterInfo h2 {background:url(../images/header-dotted.png) repeat-x 0 bottom;width:200px;line-height:40px}
#personalCenterInfo img{display: block;}