/**
 * personalCenterMyCourse.css
 * personalCenterMyCourse.html 我创建的课程(个人中心)入口样式文件
 */



/* =个人中心
-------------------------------------------------------------- */



/*个人中心左侧导航 */
@import 'personalCenterNav.css';

/*个人中心左侧导航 */
@import 'personalCenterMyCourseList.css';

/* 分页 */
@import 'pagination.css';

#personalCenterMyCourseTop h2{background:url(../images/header-dotted.png) repeat-x 0 bottom;width:200px;line-height:40px}
#personalCenterMyCourseTop header{height:40px;font-family:"微软雅黑";font-size:16px;color:#888}





