/**
 * personalCenterLearningCourseList.css
 * personalCenterLearningCourseList.html 个人中心在学的课程 课程列表
 */



/* =在学的课程 课程列表
-------------------------------------------------------------- */

#personalCenterLearningCourseList li{border-bottom:1px solid #e6e6e6;overflow: hidden;*zoom: 1;padding-top: 20px;}
#personalCenterLearningCourseList .course-pic{float:left;display: block;width: 173px;height: 110px;margin-right: 20px;}
#personalCenterLearningCourseList .course-info{overflow: hidden;*zoom:1;}
#personalCenterLearningCourseList h2{font:18px/24px 微软雅黑;color:#666}
#personalCenterLearningCourseList h2 a{display: inline-block;max-width:470px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
#personalCenterLearningCourseList .process-bar{background:#e7e7e7;height:20px;line-height:20px;font:bold 16px/20px arail;color:#2a78da;width:200px}
#personalCenterLearningCourseList .per{background:url(../images/process-arrow-small.png) no-repeat right 0 #19c5bf;height:20px;float:left;width:100%;margin-right:20px}
#personalCenterLearningCourseList .course-description{font:12px/20px 微软雅黑;color:#999;line-height:50px;display: inline-block;max-width:170px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
#personalCenterLearningCourseList .personal-center-course-list-close:hover{background-position: -157px -67px;} 
#personalCenterLearningCourseList .personal-center-course-list-close{float:right;background: url(../images/icons.png) no-repeat -157px -87px;width:20px;height:20px;line-height:30px}
#personalCenterLearningCourseList .course-footer{margin-top: 10px;height: 50px;}
#personalCenterLearningCourseList .course-head{height: 20px;line-height: 20px;}