/**
 * personalCenterCompletedLesson.css
 * personalCenterCompletedLesson.html 已完成的课节(个人中心)入口样式文件
 */



/* =已完成的课节
-------------------------------------------------------------- */



/*左侧导航 */
@import 'personalCenterNav.css';

/* 分页 */
@import 'pagination.css';

#personalCenterCompletedLessonTop h2{background:url(../images/header-dotted.png) repeat-x 0 bottom;width:200px;line-height:40px}
#personalCenterCompletedLessonTop header{height:40px;font-family:"微软雅黑";font-size:16px;color:#888}
#personalCenterCompletedLessonList li{padding-left:68px}
#personalCenterCompletedLessonList .live-list-con{background-position:32px 0}
#personalCenterCompletedLessonList .live-list-con li{background-position:18px 25px}
#personalCenterCompletedLessonList .live-list-b-bg{background-position:29px bottom}
#personalCenterCompletedLessonList h5{width:400px}
#personalCenterCompletedLessonList .personalCenterAuthor{font-size:14px;color:#999;float:right}
#personalCenterCompletedLessonList .bbig{padding-left:24px;padding-right:24px}
#personalCenterCompletedLessonList .cif-r{padding-right:48px;padding-top:30px;color:#333;font-family:"微软雅黑"}
#personalCenterCompletedLessonList .lesson-completed{width:80px;padding-left:26px;font-size:18px}
#personalCenterCompletedLessonList .lesson-not-completed{width:80px;padding-left:26px;font-size:18px}
#personalCenterCompletedLessonList .lesson-completed i{width:25px;height:20px;background:url(../images/icons.png) no-repeat -186px -63px;display:inline-block;vertical-align:text-top}
#personalCenterCompletedLessonList .lesson-not-completed i{width:25px;height:20px;background:url(../images/icons.png) no-repeat -186px -84px;display:inline-block;vertical-align:text-top}