/**
 * personalCenter.css
 * personalCenter.html 个人中心入口样式文件
 */



/* =个人中心
-------------------------------------------------------------- */



/*个人中心左侧导航 */
@import 'personalCenterNav.css';

#personalCenterGroupList .block{float: left;margin-right: 10px;margin-bottom: 20px;position: relative;}
#personalCenterGroupList .block-last{margin-right: 0px;}
#personalCenterGroupList .block-header{background: url(../images/friend-block-header-bg.png) no-repeat;width: 176px;height: 4px}
#personalCenterGroupList .block-body{padding: 4px 10px 10px;background: url(../images/friend-block-body-bg.png) repeat-y;width: 162px;}
#personalCenterGroupList .block-footer{background: url(../images/friend-block-footer-bg.png) no-repeat;width: 176px;height: 7px}

#personalCenterGroupList .block-left{float: left;margin-right: 10px;}
#personalCenterGroupList .block-right{height: 52px;overflow: hidden;}
#personalCenterGroupList .block-right h2{display: inline-block;max-width:103px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
#personalCenterGroupList .block-right a{padding-top: 20px;display: block;
color: #2a78da;}

#personalCenterGroupList p{padding-top: 3px;color: #999999;padding-right: 20px;}

#personalCenterGroupList span{color: #e74013;padding-top: 20px;display: block;}
#personalCenterGroupList em{color: #2a78da;font-style: normal;}

#personalCenterGroupList .hover-quit{position:absolute;left:0;top:0;height:68px;width:168px;border:2px solid #ff6740;display:none;}
#personalCenterGroupList .cross-quit{background:#ff6740 url(../images/white-cross.png) no-repeat 10px 4px;float:right;cursor: pointer;}
#personalCenterGroupList .cross-quit span{color:white;padding:23px 5px 5px}
#personalCenterGroupList .facade-image{position: absolute;top: 5px;left: 10px;width: 48px;height: 48px;cursor: pointer;display: block;}
#personalCenterGroupList .facade-title{position: absolute;top: 5px;left: 60px;width: 70px;height: 18px;display: block;}

