/**
 * playBox.css
 * 播放器页 播放器模块
 */


#playBox{padding:6px 0 0;text-align:center;}
#playBox iframe{margin:0 auto;}

#livePlayBox{padding-top: 15px;text-align:center;background: #e7f2ff url(../images/live-play-box-top-shadow.png) repeat-x;}
#livePlayBox iframe{margin:0 auto;}