/**
 * playTitle.css
 * 播放器 标题模块
 */



#playTitle .opt-area{margin:0 0 5px;overflow:hidden;*zoom:1;}
#playTitle .gbtn{margin-top:10px;padding-left:26px;font-family:"微软雅黑";background:url(../images/back-arrow.png) #199e99 no-repeat 4px center;}
#playTitle .gbtn:hover{background-color:#19c5bf;}
#playTitle .rtbtn{float:right;display:block;width:37px;height:32px;cursor:pointer;background-image:url(../images/icons.png);}
#playTitle .hide-rtbtn{background-position:-70px -174px;}
#playTitle .hide-rtbtn:hover{background-position:-110px -174px;}
#playTitle .show-rtbtn{background-position:-150px -174px;}
#playTitle .show-rtbtn:hover{background-position:-190px -174px;}


#playTitle .title{clear:both;margin:0 5px;display:inline-block;height:22px;line-height:22px;color:#666;background:url(../images/play-title-bg.png) repeat-x 0 -44px;*zoom:1;*display:inline;}
#playTitle .title h3{padding-left:75px;height:22px;background:url(../images/play-title-bg.png) no-repeat;}
#playTitle .title span{display:block;margin-left:-55px;padding-right:20px;background:url(../images/play-title-bg.png) no-repeat right -22px;}
#playTitle .title strong{display:inline-block;margin-right:26px;color:#fff;}

#livePlayTitle .title{clear:both;margin:7px 50px;display:inline-block;height:22px;line-height:22px;color:#666;background:url(../images/live-play-title-bg.png) repeat-x 0 -44px;*zoom:1;*display:inline;}
#livePlayTitle .title h3{padding-left:75px;height:22px;background:url(../images/live-play-title-bg.png) no-repeat;}
#livePlayTitle .title span{display:block;margin-left:-55px;padding-right:20px;background:url(../images/live-play-title-bg.png) no-repeat right -22px;}
#livePlayTitle .title strong{display:inline-block;margin-right:26px;color:#fff;}
#livePlayTitle .block-center-980{width: 980px;margin: 10px auto;}
#livePlayTitle .logo{float: left;margin-top:-10px;}
#livePlayTitle .title a{display:inline-block;margin-right:26px;color:#fff;float: none;}

#externalCMSTitle .title{clear:both;margin:7px 50px;display:inline-block;height:22px;line-height:22px;color:#666;background:url(../images/live-play-title-bg.png) repeat-x 0 -44px;*zoom:1;*display:inline;}
#externalCMSTitle .title h3{padding-left:75px;height:22px;background:url(../images/live-play-title-bg.png) no-repeat;}
#externalCMSTitle .title span{display:block;margin-left:-64px;padding-right:20px;background:url(../images/live-play-title-bg.png) no-repeat right -22px;}
#externalCMSTitle .title strong{display:inline-block;margin-right:26px;color:#fff;}
#externalCMSTitle .block-center-980{width: 980px;margin: 10px auto;}
#externalCMSTitle .logo{float: left;}
#externalCMSTitle .title a{display:inline-block;margin-right:26px;color:#fff;float: none;}