/**
 * profileCourseList.css
 * 个人sns-课程列表
 */


#profileCourseList .list-gird{padding:20px 0 0 6px;overflow:hidden;*zoom:1;}
#profileCourseList .list-gird li{float:left;margin:0 24px 34px 0;_margin-right:12px;}
#profileCourseList .list-gird li.nomr{margin-right:0;}

#profileCourseList .list-l{padding:10px 0 0 10px;}
#profileCourseList .list-l .addCourse{margin-bottom:10px;border-bottom:1px dashed #999;}
#profileCourseList .list-l .rbtn{margin:0 0 10px 630px;}
#profileCourseList .list-l li{margin:0 0 35px;padding:0 0 35px;overflow:hidden;*zoom:1;border-bottom:1px dashed #999;}
#profileCourseList .list-l li.last{margin-right:0;}
#profileCourseList .groupCourseDel{float:right;padding-right:20px;cursor:pointer;}
#profileCourseList .tag{height:23px;}
#profileCourseList .scaleCourse{float:right;padding-right:20px;display:inline-block;height:23px;line-height:23px;font:bold 18px '微软雅黑';}