/**
 * recomCourse.css
 * 首页 推荐课程
 */



#relateCourse{margin:0 0 30px;}
#recomCourse .rc-tab{float:left;width:95px;height:22px;line-height:22px;margin:-36px 0 0 110px;_margin-left:55px;color:#999;}
#recomCourse .rc-tab li{float:left;width:47px;text-align:center;cursor:pointer;background:url(../images/recomCourse-tab-bg.png) no-repeat;}
#recomCourse .rc-tab .rc-hot-cur{color:#e74013;background-position:0 -22px;}
#recomCourse .rc-tab .rc-lastest{float:right;width:48px;background-position:right -22px;}
#recomCourse .rc-tab .rc-lastest-cur{color:#e74013;background-position:right 0;}

.recomcourse-list{margin:0 0 -20px;*margin:0;_height:400px;background:url(../images/recomcourse-list-bg.png) no-repeat 94px 52px;overflow:hidden;*zoom:1;}
.recomcourse-list li{float:left;height:172px;margin:0 24px 30px 2px;}
.recomcourse-list li.nomr{margin-right:0;}

