/**
 * slide.css
 * 首页 
 */



#slide{width:720px;height:360px;text-align:center;}
#slide .toleft,
#slide .toright{position:relative;top:0;margin-top:-200px;float:left;display:block;width:34px;height:51px;cursor:pointer;background:url(../images/slide-arrow.png) no-repeat right 0;}
#slide .toright{float:right;background-position:0 0;}

#slide .pic{width:720px;height:360px;overflow:hidden;}
#slide .pic li{float:left;width:720px;}

#slide .btns{position:relative;top:-30px;display:inline-block;height:15px;overflow:hidden;text-align:center;*display:inline;}
#slide .btns li{display:inline-block;width:15px;height:15px;cursor:pointer;margin:0 0 0 4px;color:#5a5a5a;*zoom:1;*display:inline;}
#slide .btns li.cur{color:#FF6F00;}